<a href="https://colab.research.google.com/github/Rekanice/swe-G2-iot-project/blob/master/Random_Datetime_Generator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
dates = pd.date_range('2021-12-01 7:00', '2022-01-01 00:00')
dates

DatetimeIndex(['2021-12-01 07:00:00', '2021-12-02 07:00:00',
               '2021-12-03 07:00:00', '2021-12-04 07:00:00',
               '2021-12-05 07:00:00', '2021-12-06 07:00:00',
               '2021-12-07 07:00:00', '2021-12-08 07:00:00',
               '2021-12-09 07:00:00', '2021-12-10 07:00:00',
               '2021-12-11 07:00:00', '2021-12-12 07:00:00',
               '2021-12-13 07:00:00', '2021-12-14 07:00:00',
               '2021-12-15 07:00:00', '2021-12-16 07:00:00',
               '2021-12-17 07:00:00', '2021-12-18 07:00:00',
               '2021-12-19 07:00:00', '2021-12-20 07:00:00',
               '2021-12-21 07:00:00', '2021-12-22 07:00:00',
               '2021-12-23 07:00:00', '2021-12-24 07:00:00',
               '2021-12-25 07:00:00', '2021-12-26 07:00:00',
               '2021-12-27 07:00:00', '2021-12-28 07:00:00',
               '2021-12-29 07:00:00', '2021-12-30 07:00:00',
               '2021-12-31 07:00:00'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# Create a daily 7am - 12am timestamp every 5 mins
ls = []
for i in dates:
    daily_business_hour = pd.date_range(i, i+pd.Timedelta('17 hours'), freq='5min')
    [ls.append(i) for i in daily_business_hour]
log = pd.DataFrame(ls)
log

                       0
0    2021-12-01 07:00:00
1    2021-12-01 07:05:00
2    2021-12-01 07:10:00
3    2021-12-01 07:15:00
4    2021-12-01 07:20:00
...                  ...
6350 2021-12-31 23:40:00
6351 2021-12-31 23:45:00
6352 2021-12-31 23:50:00
6353 2021-12-31 23:55:00
6354 2022-01-01 00:00:00

[6355 rows x 1 columns]

In [4]:
log.columns = ["timestamp"]
log.head(3)

            timestamp
0 2021-12-01 07:00:00
1 2021-12-01 07:05:00
2 2021-12-01 07:10:00

In [5]:
log["wm_id"] = 1
log.head(3)

            timestamp  wm_id
0 2021-12-01 07:00:00      1
1 2021-12-01 07:05:00      1
2 2021-12-01 07:10:00      1

In [6]:
log["in_use"] = False
log.head(3)

            timestamp  wm_id  in_use
0 2021-12-01 07:00:00      1   False
1 2021-12-01 07:05:00      1   False
2 2021-12-01 07:10:00      1   False

In [7]:
from random import choices
status = [0, 1]
weights = [0.9, 0.1]
choices(status, weights)

[0]

In [8]:
bool([0]) # WTFFF!!!

True

In [9]:
bool([0][0])

False

In [10]:
len(log)

6355

In [11]:
# Generate a random boolean column. When a row=True, it lasts for 50 mins (other rows within the 50 mins will be True)
log["in_use"] = False
i=0
while i < len(log):
    random_bool = bool(choices(status, weights)[0])
    # print(i, '\t', random_bool)
    if random_bool:
        # print('i when True=', i)
        wm_ends = log['timestamp'][i] + pd.Timedelta('50 min')
        while i < len(log) and log['timestamp'][i] <= wm_ends:
            log['in_use'][i] = random_bool
            i+=1   
        # print('i after LOOP=', i, '\t in if block.') 
    i+=1    
    # print('i after True=', i, '\t outside of loop.') 
    
log

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

               timestamp  wm_id  in_use
0    2021-12-01 07:00:00      1   False
1    2021-12-01 07:05:00      1   False
2    2021-12-01 07:10:00      1   False
3    2021-12-01 07:15:00      1   False
4    2021-12-01 07:20:00      1   False
...                  ...    ...     ...
6350 2021-12-31 23:40:00      1   False
6351 2021-12-31 23:45:00      1   False
6352 2021-12-31 23:50:00      1   False
6353 2021-12-31 23:55:00      1   False
6354 2022-01-01 00:00:00      1   False

[6355 rows x 3 columns]

In [12]:
log.to_csv('sensor_log_db.csv')